name: Validate

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  validate-awesome-list:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run PowerShell validator
        shell: pwsh
        run: ./scripts/validate.ps1
